<section class="block container">
    <header class="block__header">
        <h2>Affordable plans for any situation</h2>
        <p class="shrink">Choose a Premium plan and listen to ad-free music without limits on your phone, speaker, and other devices. Pay in various ways. Cancel anytime.</p>
    </header>
    <div class="block__content container">
        <svg class="icon">
            <use xlink:href="images/logo.svg#visa"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="images/logo.svg#mastercard"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="images/logo.svg#verve"></use>
        </svg>
    </div>
    <div class="grid grid--1x2">
        <header class="block__header">
            <h2>All Premium plans include</h2>
        </header>
        <ul class="list list--tick">
            <li>Ad-free music listening</li>
            <li>Download to listen offline</li>
            <li>Play songs in any order</li>
            <li>High audio quality</li>
            <li>Listen with friends in real time</li>
            <li>Organize listening queue</li>
        </ul>
    </div>
   </section>