<section class="block container">
    <header class="block__header">
        <h2>Experience the difference</h2>
        <h3>Go Premium and enjoy full control of your listening. Cancel anytime.</h3>
    </header>
    <table class=" block__content container">
        <thead>
            <th>What you'll get</th>
            <th class="box">Spotify's Free plan</th>
            <th class="box"><svg class="minus">
                <use xlink:href="images/sprite.svg#spotify"></use>
            </svg>Spotify's Premium plans</th>
        </thead>
        <tr>
         <td class="text">Ad-free music listening</td>
             <td><svg class="icon">
              <use xlink:href="images/dash.svg#dash"></use>
                </svg></td>
            <td><svg class="icon">
                    <use xlink:href="images/tickcircle.svg#tickcircle"></use>
             </svg></td>
        </tr>
        <tr>
            <td class="text">Download to listen offline</td>
            <td><svg class="icon">
                <use xlink:href="images/dash.svg#dash"></use>
              </svg></td>
            <td><svg class="icon">
                <use xlink:href="images/tickcircle.svg#tickcircle"></use>
            </svg></td>
        </tr>
        <tr>
            <td class="text">Play songs in any order</td>
            <td><svg class="icon">
                <use xlink:href="images/dash.svg#dash"></use>
              </svg></td>
            <td><svg class="icon">
                <use xlink:href="images/tickcircle.svg#tickcircle"></use>
            </svg></td>
        </tr>
        <tr>
            <td class="text">High audio quality</td>
            <td><svg class="icon">
                <use xlink:href="images/dash.svg#dash"></use>
              </svg></td>
            <td><svg class="icon">
                <use xlink:href="images/tickcircle.svg#tickcircle"></use>
            </svg></td>
        </tr>
        <tr>
            <td class="text">Listen with friends in real time</td>
            <td><svg class="icon">
                <use xlink:href="images/dash.svg#dash"></use>
              </svg></td>
            <td><svg class="icon">
                <use xlink:href="images/tickcircle.svg#tickcircle"></use>
            </svg></td>
        </tr>
        <tr>
            <td class="text">Organize listening queue</td>
            <td><svg class="icon">
                <use xlink:href="images/dash.svg#dash"></use>
              </svg></td>
            <td><svg class="icon">
                <use xlink:href="images/tickcircle.svg#tickcircle"></use>
            </svg></td>
        </tr>
    </table>
</section>