<scetion class="feature block container">
    <header class="block__header">
        <h2>Questions?</h2>
        <p>We've got answers.</p>
        <p>Find more answers in our <a class="link" href="#">support site.</a></p>
    </header>
    <div class="block__content">
        <div class="collapsible">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">How does Spotify Premiunm trial work? </h3>
                <svg class="icon collapsible__downarrow">
                    <use xlink:href="images/sprite.svg#downarrow"></use>
                </svg>
            </header>
            <div class=" collapsible__content">
                If you've never had Premium before, you may be eligible for a free (or reduced rate) trial.For trials, you'll still need to enter a valid payment method to sign up. We'll use this to confirm your country or region and take payments if you want to keep Premium after the offer ends.We'll send you a reminder 7 days before your trial ends. Country restrictions and Terms apply.
            </div>
        </div>
        <div class="collapsible">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">How do i cancel my Premiunm plan?</h3>
                <svg class="icon collapsible__downarrow">
                    <use xlink:href="images/sprite.svg#downarrow"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                You can easily cancel your Premium plan any time online on your account page. Your Premium stays until your next billing date, then your account switches over to our free plan.You'll keep all your playlists, saved music, and be able to listen with ads when your account is free.
            </div>
        </div>
        <div class="collapsible">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">How does the Premium Dou plan work?</h3>
                <svg class="icon collapsible__downarrow">
                    <use xlink:href="images/sprite.svg#downarrow"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                Premium Duo is a plan for a couple who lives together. Compared with having two full-price Premium Individual accounts, it's also cheaper. We'll ask for your address to ensure you live at the same address. You can invite a member to the plan right after the purchase. Each member has their own separate Premium account and can listen at the same time with their own account. All saved music and playlists are their own. The other account holder cannot see what you are listening to.
                <p><a class="link" href="#"> Read more</a>  info about Premiunm Duo</p>
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">How does the Premium Family plan work?</h3>
                <svg class="icon collapsible__downarrow">
                    <use xlink:href="images/sprite.svg#downarrow"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                Premium Family is a plan for up to 6 family members who live together. Compared with everyone having their own full-price Premium Individual account, it's also cheaper. We will ask for your address to ensure you live at the same address. You can invite members to the plan right after the purchase. Each member has their own separate Premium account and can listen at the same time with their own account. All saved music and playlists are their own. Other account holders cannot see what you are listening to.
                <p><a class="link" href="#"> Read more</a>  info about Premiunm Family.</p>
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">How does the student Premium plan work?</h3>
                <svg class="icon collapsible__downarrow">
                    <use xlink:href="images/sprite.svg#downarrow"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                If you are a student enrolled at an accredited college or university, and above the age of 18, then yes. You can get Premium Student for up to 4 years.
                <p><a class="link" href="#"> Read more</a>  info about Premiunm Student.</p>
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">How much is Spotify Premium in Nigeria?</h3>
                <svg class="icon collapsible__downarrow">
                    <use xlink:href="images/sprite.svg#downarrow"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                The Spotify Premium prices in Nigeria are different depending on which Premium plan you choose: The Spotify Premium Individual plan costs NGN 900 per month, the Premium Duo plan costs NGN 1,200 per month, the Premium Family plan costs NGN 1,400 per month, the Premium Student plan costs NGN 450 per month. If you've never had a Premium plan before, you may be eligible for a free (or reduced rate) trial. Country restrictions and terms apply.
            </div>
        </div>
    </div>
   </scetion>