<footer class="block footer">
    <div class="container grid footer__section">
        <section class="footer__brand">
            <svg class="brand">
                <use xlink:href="images/sprite.svg#spotifylogo"></use>
            </svg>
        </section>
        <section>
            <header>
                <h3 class="footer__heading">COMPANY</h3>
            </header>
            <ul class="list">
                <li class="footer__list"><a class="footer__link" href="#">About</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Jobs</a></li>
                <li class="footer__list"><a class="footer__link"href="#">For the Record</a></li>
            </ul>
        </section>
        <section>
            <header>
                <h3 class="footer__heading">COMMUNITIES</h3>
            </header>
            <ul class="list">
                <li class="footer__list"><a class="footer__link" href="#">For Artist</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Developers</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Advertising</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Investors</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Vendors</a></li>
            </ul>
        </section>
        <section>
            <header>
                <h3 class="footer__heading">USEFUL LINKS</h3>
            </header>
            <ul class="list">
                <li class="footer__list"><a class="footer__link" href="#">Support</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Web player</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Free Mobile App</a></li>
            </ul>
        </section>
        <section>
            <header>
                <h3 class="footer__heading">SPOTIFY PLANS</h3>
            </header>
            <ul class="list">
                <li class="footer__list"><a class="footer__link" href="#">Premium Individual</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Premium Duo</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Premium Family</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Premium Student</a></li>
                <li class="footer__list"><a class="footer__link"href="#">Spotify Free</a></li>
            </ul>
        </section>
        <section class="footer__brand">
            <svg class="logo">
                <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
            <svg class="logo">
                <use xlink:href="images/sprite.svg#twitter"></use>
            </svg>
            <svg class="logo">
                <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
        </section>
    </div>
        <div class="move">
            <div class=" block grid footer__links">
                 <a class="footer__lin" href="#">Legal</a>
                 <a class="footer__lin" href="#">Safety & Privacy Center</a>
                 <a class="footer__lin" href="#">Privacy Policy</a>
                 <a class="footer__lin" href="#">Cookies</a>
                 <a class="footer__lin" href="#">About Ads</a>
                 <a class="footer__lin" href="#">Accessibility</a>
            </div>
            <p class="copy">&copy;2024 Spotify AB</p>
        </div>
</footer>