<section class="block hero">
    <div class=" container grid grid--1x2">
        <header class=" block__header hero__content">
            <h1>Listen without limits. Try 1 month of Premium Individual for free.</h1>
            <p>Only NGN 900/month after. Cancel anytime.</p>
            <button class="btn btn--primary">Try free for 1 month</button>
            <button class=" btn btn--black even">View all plans</button>
            <p class="hero__desc">Free for 1 month, then NGN 900 per month after. Offer only available if you haven't tried Premium before.<a href="Terms apply" class="link">Terms apply</a></p>
        </header>
    </div>
</section>