<div style="width: 40%; padding: 4rem;">
    <div class="plan">
        <div class="card">
            <header class="card__header">
                <span class="badge badge--primary">Free for 1 month</span>
                <div class="align">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#spotify"></use>
                    </svg>
                    <p>Premium</p>
                </div>
                <h2 class="plan__name plan--primary">Individual</h2>
                <span><h3 class="plan__info">Free for 1 month</h3></span>
                <span class="plan__price">NGN 900 / month after</span>
            </header>
             <div class="line"></div>
             <div class="card__body">
                    <ul class="list">
                        <li>1 Premium account</li>
                        <li>Cancel any time</li>
                        <li>Subscribe or one-time payment</li>
                    </ul>
                    <button class="btn btn--primary btn--block">Try free for 1 month</button>
                    <span class="plan__price">Free for 1 month, then NGN 900 per month after. Offer only available if you haven't tried Premium before.<a href="Terms apply" class="link">Terms apply</a></span>
                </div>  
        </div>
 </div>
</div>